<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ahch-To.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DF124E9D1A3FA77E9A3269F5A2D63CC654430B51</string>
				<key>dateExpires</key>
				<string>5/30/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>43Y9KZ2N2W.com.YapeseMan.Ahch-To</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Development</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.YapeseMan.Ahch-To</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>43Y9KZ2N2W</string>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>43Y9KZ2N2W.com.YapeseMan.Ahch-To</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Ahch-To.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3addeacc-efc6-427f-98d7-bcca1c8202a3</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.YapeseMan.Ahch-To</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>43Y9KZ2N2W</string>
				<key>name</key>
				<string>JOHN Meyer</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
